@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  font-family: "Inter";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.06);
  width: 90%;
  margin: auto;
}

.calendar {
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calendarRow {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dayCard {
  width: 30%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dayCard .day {
  font-weight: 300;
  font-size: 14px;
  color: #9e9e9e;
}

.dayCard .activity {
  font-weight: 500;
  font-size: 14px;
  color: #003d59;
  margin-top: 10px;
}

.dayCard .restDay {
  font-weight: 300;
  font-size: 14px;
  color: black;
  margin-top: 10px;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  text-align: start;
}

h2 {
  margin: 40px 0;
  font-size: 24px;
  font-weight: 400;
  text-align: start;
}

p {
  font-size: 16px;
}

button {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.06);
}
button.primaryButton {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: white;
  background-color: #003d59;
  border-radius: 15px;
  margin: auto;
}

button:active {
  opacity: 70%;
}

button.disabled {
  opacity: 70%;
}

span {
  color: #003d59;
  font-weight: 400;
}
